* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');

body { //Fuente y fondo del sitio
    font-family: 'Corben', cursive;
    background-color: whitesmoke;
}

// Estilos del titulo del index
h1 {
    color: #197b7a;
    font-size: 42px;
    padding: 5px;
    text-align: center;
}

// Estilos de los parrafos
p {
    color: black;
    font-size: 17px;
    letter-spacing: 1.8px;
    padding: 10px;
}

// Estilos del header
header {
    background-color: #197b7a;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
    top: 0;
}


// Logo del navegador
.navegador__logo { //Estilos
    width: 80px;
    transition: all .3s;

    &:hover { //Animacion del logo
        transform: scale(1.05);
    }
}

// Colores y estilos del navegador 
.navegador__menu {
    background-color: #197b7a;

    li { //Estilo de los botones del navegador
        padding: 20px;
        transition: all .3s;
        color: white;
        font-size: 20px;

        &:hover { //Animaciones de los botones del navegador
            transform: scale(1.1);
        }
    }
}



//-------------------------------------------INDEX-----------------------------------------------------
// Estilos de la seccion uno del index
.seccionUno {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-top: 70px;
    width: 80%;
    display: flex;
    align-items: center;

    &__img { //Estilos de la imagen de la seccion
        margin: 10px;
        border-radius: 10px;
        max-width: 320px;
        transition: all .3s;

        &:hover { //Animacion de la imagen
            transform: scale(1.05) rotate(0.5deg);
        }
    }
}

// Estilos de la seccion dos del index
.seccionDos {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__video { //Estilos del video de la seccion
        height: 600px;
        max-width: 300px;
        padding: 15px;
    }
}

// Estilos del carrusel del index
.carrusel {
    margin-top: 120px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    &__radio { //Borde redondeado de las imagenes del carrusel
        border-radius: 10px;
    }
}
//------------------------------------------------------------------------------------------------




//-------------------------------------------SOBRE MI---------------------------------------------
// Estilos de la seccion "Sobre mi"
.sobreMi {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    margin-top: 140px;

    &__seccion {
        display: flex;
        margin-top: 30px;
        max-width: 600px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__picture { //Estilos de la imagen de la seccion
        width: 100%;
        max-width: 300px;
    }

    &__img { //Animaciones de la imagen
        width: 100%;
        border-radius: 10px;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.05);
        }
    }
}
//------------------------------------------------------------------------------------------------




//------------------------------------RECURSOS GRATUITOS------------------------------------------
// Estilos de la seccion "Recursos Gratuitos"
.recursosGratuitos {
    display: flex;
    width: 80%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

    &__picture {
        width: 100%;
        max-width: 300px;
    }

    &__img { 
        width: 100%;
        padding: 10px;
        transition: all 0.5s;

        &:hover { //Animacion de la imagen 
            transform: scale(1.05);
        }
    }

    &__imgDos { //Estilos de la imagen
        width: 70%;
        padding: 20px;
        margin-bottom: 20px;
        transition: all 0.5s;

        &:hover { //Animacion de la imagen
            transform: scale(1.05);
        }
    }

    &__imgTres { //Estilos de la imagen
        width: 40%;
        transition: all 0.5s;

        &:hover { //Animacion de la imagen
            transform: scale(1.05);
        }
    }

    &__lista--color { //Estilos de la lista
        font-weight: bold;
        padding: 10px;
        letter-spacing: 1.8px;
        font-size: 17px;
    }

    &__titulo { //Estilos de los titulos
        padding: 10px;
        margin-bottom: 10px;
        color: #197b7a;
    }
}
//------------------------------------------------------------------------------------------------




//------------------------------------------BLOG--------------------------------------------------
// Estilos de la seccion "Blog"
.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;

    &__seccion { //Ancho de la seccion
        width: 60%;
    }

    &__picture { //Ancho de la imagen
        width: 100%;
        max-width: 320px;
    }

    &__img { //Estilos de la imagen
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        transition: all 1s;

        &:hover { //Animacion de la imagen
            transform: scale(1.05);
        }
    }
}
//------------------------------------------------------------------------------------------------




//-----------------------------------------CONTACTO-----------------------------------------------
// Correccion del margen del titulo del formulario de contacto
.contacto__titulo{
    margin: 0 !important;
    padding: 30px;
    }

// Correccion de la altura del formulario
.contacto__form{
    margin-top: 180px;
    min-height: 500px;
    height: calc(100vh - 320px);
    }
//------------------------------------------------------------------------------------------------

// Estilos del pie de pagina
.footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #efe3d5;
    background: linear-gradient(0deg, rgba(239, 227, 213, 1) 60%, rgba(245, 245, 245, 1) 100%);
    height: 140px;
    padding: 10px;

    &__menu { //Botones de redes sociales
        a {
            text-decoration: none;
            padding-bottom: 0;
            padding-top: 20px;
            padding-left: 20px;
            margin-right: 10px;
            color: #f3757d;
            transition: all .3s;
        }

        li { //Estilo de los botones de redes sociales
            font-size: 20px;
            list-style: none;
            display: inline;
            align-items: flex-end;

            &:hover { //Animacion de los botones de redes sociales
                transform: scale(1.1);
            }
        }

    }

    &__logo { //Estilos del logo del pie de pagina
        width: 200px;
        padding: 10px;
        transition: all .3s;

        &:hover { //Animacion del logo
            transform: scale(1.05);
        }
    }

}

$redes: (
  instagram: black, 
  linkedin: #197b7a
);

@each $red, $color in $redes {
  .footer__link--#{$red}:hover {
    color: $color;
  }
}


//---------------------------------------------MQ-------------------------------------------------
@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
        margin-right: 130px;
    }
}

@media screen and (max-width: 768px) {
    .seccionUno {
        display: flex;
        flex-direction: column;
    }

    .seccionDos {
        display: flex;
        flex-direction: column;
    }

    .sobreMi {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__seccion {
            width: 100%;
        }
    }

    .recursosGratuitos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        li {
            font-size: 10px;
        }

        &__logo {
            width: 100px;
        }
    }

    @media screen and (max-width: 440px) {

        .footer {

            display: flex;
            justify-content: center;

            li {
                font-size: 10px;
            }

            &__logo {
                width: 100px;
            }

            &__menu {
                display: flex;
                flex-direction: column;
            }

        }

        .seccionUno {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .seccionUno__img {
            width: 200px;
        }

        .seccionDos {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .sobreMi {
            display: flex;
            flex-direction: column;
        }

        .blog {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__seccion {
                width: 100%;
            }

            &__img {
                width: 280px;
                margin-bottom: 50px;
            }
        }

        .recursosGratuitos {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contacto__form {
            &__boton {
                margin-top: 12px;
            }
        }
    }
}
//------------------------------------------------------------------------------------------------